<html xmlns:th="htts://thymeleaf.org">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<title>Expense Manager - Expenses</title>
	</head>
	
	<body>
		<h1>List of expenses</h1>
		<hr/>
		<table border="1">
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Date</th>
				<th>Action</th>
				<th>Update</th>
			</thead>
			
			<tbody>
				<tr th:each="expence: ${expenses}">
					<td th:text="${expence.name}"></td>
					<td th:text="${expence.description}"></td>
					<td th:text="${expence.amount}"></td>
					<td th:text="${expence.date}"></td>
					<td>
						<a th:href="@{/deleteExpenses(id=${expence.expenseId})}"
						onclick="return confirm('Do you want to delete the expense?')">Delete</a>
					</td>
					<td>
						<a th:href="@{/updateExpenses(id=${expence.expenseId})}">Update</a>
					</td>
				</tr>
			</tbody>
		    
		</table>
	</body>
</html>